<div class='container content box profile-box people-display'>
    <div class='container search-bar-container'>
        <p class='control has-icons-left'>
            <input class='input is-rounded' type='text' aria-label='search input' aria-expanded='false'
                   placeholder='Search from {{path}}' id='folower-search'>
            <span class='icon is-small is-left'>
                <i class='fas fa-search'></i>
            </span>
        </p>
    </div>

    <div class='container tile-root'>
        {{#each users}}
            {{#ifMod @index 3 0}}
                <div class='tile is-ancestor'>
            {{/ifMod}}

            <div class='tile is-parent is-4'>
                <a class='tile is-child box' href='/user/{{this}}'>
                    <img src='public/img/default_dp.jpg' alt='default'>
                    <p class='subtitle'>{{this}}</p>
                </a>
            </div>

            {{#if @last}}
                </div>
            {{else}}
                {{#ifMod @index 3 2}}
                </div>
                {{/ifMod}}
            {{/if}}

        {{/each}}
    </div>

    <section class='section post-navigation'>
        <nav class='pagination is-centered is-small' role='navigation' aria-label='pagination'>
            <a class='pagination-previous' disabled='true'>＜</a>
            <a class='pagination-next' disabled='true'>＞</a>
            <ul class='pagination-list'>
                <li><a class='pagination-link is-current' aria-label='Goto page 1'>1</a></li>
            </ul>
        </nav>
    </section>
</div>

