<div class='container content box profile-box menu-display'>
    <div class='tile is-ancestor'>
        <div class='tile is-vertical'>
            <!--                first row -->
            <div class='tile'>
                <!--                        https://www.allrecipes.com/recipe/255019/special-roasted-potatoes/ -->
                <div class='tile is-parent' style='background: url(public/img/roasted_potatoes1.jpg)'>
                    <a href='../food/roasted_potatoes.html'>
                        <div class='is-child box'>
                            <p class='title'>"Special" Roasted Potatoes</p>
                        </div>
                    </a>
                </div>

                <div class='tile is-parent' style='background: url(public/img/french_fries1.jpg)'>
                    <a href='../food/french_fries.html'>
                        <div class='is-child box'>
                            <p class='title'>Air Fryer French Fries</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class='section post-navigation'>
        <nav class='pagination is-centered is-small' role='navigation' aria-label='pagination'>
            <a class='pagination-previous' disabled='true'>＜</a>
            <a class='pagination-next' disabled='true'>＞</a>
            <ul class='pagination-list'>
                <li><a class='pagination-link is-current' aria-label='Goto page 1'>1</a></li>
            </ul>
        </nav>
    </section>
</div>
