<div class='container content box profile-box menu-display'>
    <div class='tile is-ancestor'>
        <div class='tile is-vertical'>
            {{#each posts}}
                {{#ifMod @index 2 0}}
                    <div class='tile'>
                {{/ifMod}}
                    <div class='tile is-parent' style='background: url(/public/img/roasted_potatoes1.jpg)'>
                        <a href='/food/{{this._id}}'>
                            <div class='is-child box'>
                                <p class='title'>{{this.title}}</p>
                            </div>
                        </a>
                    </div>
                {{#if @last}}
                    </div>
                {{else}}
                    {{#ifMod @index 2 1}}
                        </div>
                    {{/ifMod}}
                {{/if}}
            {{/each}}
        </div>
    </div>

    <section class='section post-navigation'>
        <nav class='pagination is-centered is-small' role='navigation' aria-label='pagination'>
            <a class='pagination-previous' disabled='true'>＜</a>
            <a class='pagination-next' disabled='true'>＞</a>
            <ul class='pagination-list'>
                <li><a class='pagination-link is-current' aria-label='Goto page 1'>1</a></li>
            </ul>
        </nav>
    </section>
</div>
