@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* image customization */
.white {
    color: white !important;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill img {
    object-fit: cover;
}

.img-darken {
    filter: brightness(50%);
}

.darken-bg {
    background-color: rgba(0, 0, 0, 0.5);
}

.page-height {
    height: calc(100vh);
}

.parallax { 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* header design */
header .navbar {
    font-size: 1.25em;
}

header .navbar .button {
    font-size: 0.9em;
}

header .navbar-brand img {
    width: 120px;
}

header .navbar-brand .navbar-item {
    padding-top: 0;
}

/* footer design */
.footer p {
    margin-top: 15px;
    font-size: 18px;
}

.footer .icon a {
    color: gray;
}

/* usual vegetable background */
.vegetable-bg {
    background-position: center;
    background-image:  linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),  url('./resources/Vegetables.jpg');
    background-repeat: no-repeat;
}

/* page-specific designs */
#index-main .box {
    width: 50vw;
    margin-left: 5vw;
    max-width: 50vw;
    padding: 9vh 2vw;
    font-family: 'Montserrat', sans-serif;
}

#about-us {
    max-width: 1000px;
    padding: 5vh 2vw;
    font-family: 'Montserrat', sans-serif;
}

#about-us p {
    font-size: 20px;
}

#signup-box {
    width: 450px;
    max-width: 450px;
    padding: 30px 40px;
}