<main class='is-fullhd fill page-height parallax vegetable-bg' id='menu'>
    <div class='container content box' id='newsfeed-end'>
        <h1 class='title'>404</h1>
        <p>File not found in server!</p>
    </div>
</main>