<main class='is-fullhd fill page-height parallax vegetable-bg'>
    <div class='container content is-large box' id='about-us'>
        <h1 class='title'>About Us</h1>
        <p>
            During the seemingly non-ending COVID-19 pandemic, people all around the world found themselves
            quarantined within their own homes. Some were just bored out of their lives,
            while some were anxious and worried about the future. People needed something to do,
            and what better way to pass the time than cooking?
        </p>
        <p>
            <strong>ShefHub</strong> was created exactly for this reason. This site hosts
            thousands of recipes contributed by a growing community of professional chefs, home cooks,
            and food enthusiasts. Whether you are learning to cook, mastering your technique, or
            exploring different flavors, all of these recipes can help you attain your goal, so
            <a href='/signup'>register</a> now!
        </p>
        <p>
            The interface for this project was built using the <a href='https://bulma.io/'>Bulma css framework</a>.<br>
            For the backend, the following NPM packages used were:
            <ul id='backend-libraries'>
                <li><a href='https://npmjs.com/package/async'>async.js</a></li>
                <li><a href='https://npmjs.com/package/compression'>compression</a></li>
                <li><a href='https://npmjs.com/package/connect-mongodb-session'>connect-mongodb-session</a></li>
                <li><a href='https://npmjs.com/package/cookie-parser'>cookie-parser</a></li>
                <li><a href='https://npmjs.com/package/crypto-js'>crypto-js</a></li>
                <li><a href='https://npmjs.com/package/dotenv'>dotenv</a></li>
                <li><a href='https://npmjs.com/package/express'>express</a></li>
                <li><a href='https://npmjs.com/package/express-fileupload'>express-fileupload</a></li>
                <li><a href='https://npmjs.com/package/express-handlebars'>express-handlebars</a></li>
                <li><a href='https://npmjs.com/package/express-session'>express-session</a></li>
                <li><a href='https://npmjs.com/package/mongoose'>mongoose</a></li>
                <li><a href='https://npmjs.com/package/mongoose-lean-virtuals'>mongoose-lean-virtuals</a></li>
                <li><a href='https://npmjs.com/package/nodemon'>nodemon</a></li>
            </ul>
        </p>
    </div>
</main>