<script src='/public/js/post.js'></script>

<main class='is-fullhd fill page-height parallax vegetable-bg'>
    <div class='container content box recipe-view'>
        <h1 class='title' id='recipe-name'>Lolah's Chicken Adobo</h1>
        <h5 class='subtitle' id='shef'>By foodelicious</h5>

        <div class='columns post-header'>
            <div class='column is-1 vote-header'>
                <i class='fas fa-chevron-up fa-2x logged-out'></i>
                <strong id='votes'>2</strong>
                <i class='fas fa-chevron-down fa-2x logged-out'></i>
            </div>



            <div class='column slider'>
                <!--                        Inner columns -->
                <div class='columns' id='food-pic' style='background: url("../public/img/foodelicious_chicken_adobo1.jpg")'>
                    <div class='column is-1'>
                        <i class='fas fa-chevron-circle-left fa-3x' id='left'></i>
                    </div>

                    <div class='column center'>
                        <nav class='pagination is-centered is-rounded' role='navigation' aria-label='pagination'>
                            <ul class='pagination-list'>
                                <li><a class='pagination-link is-current' aria-label='image 1' aria-current='page'></a></li>
                                <li><a class='pagination-link' aria-label='image 2'></a></li>
                                <li><a class='pagination-link' aria-label='image 3'></a></li>
                                <li><a class='pagination-link' aria-label='image 4'></a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class='column is-1'>
                        <i class='fas fa-chevron-circle-right fa-3x' id='right'></i>
                    </div>

                </div>
            </div>
        </div>

        <h3 class='title'>Description</h3>
        <p class='content'>
            My Filipino Mom taught me how to make this traditional dish
            following the recipe her mother taught her.
            And though I've made a couple of changes, I guarantee they're Mom-approved.
            'Lolah' is 'Grandma' in the Philippines, in case you were wondering.
            Serve over steamed rice.
        </p>

        <h3 class='title'>Ingredients</h3>
        <ul class='content'>
            <li>3 tablespoons vegetable oil</li>
            <li>3 pounds boneless, skinless chicken thighs, rinsed and patted dry</li>
            <li>6 cloves garlic, peeled and thinly sliced</li>
            <li>½ cup soy sauce</li>
            <li>½ cup apple cider vinegar</li>
            <li>½ cup water</li>
            <li>2 tablespoons pickling spice, wrapped in cheesecloth</li>
        </ul>

        <h3 class='title'>Directions</h3>
        <ol class='content'>
            <li>
                Heat oil in a large pot over medium heat until oil is shimmering.
                Cook garlic in oil for no more than 30 seconds.
                Add all of the chicken to the pot; cook, stirring frequently,
                until chicken is white all over. Do not brown.
            </li>
            <li>
                Pour in soy sauce, vinegar, and water, and add the pickling spice.
                Make sure the spice ball is submerged. Bring to a boil, reduce heat to simmer,
                and place lid on pot so that some steam can escape. Simmer for 1 hour, or until chicken is very tender.
            </li>
        </ol>

        <h3 class='title'>Information</h3>
        <div class='content'>
            <p>
                Preparation time: 10 mins<br>
                Cooking time: 1 hr 10 mins<br>
                Total time: 1 hr 20 mins<br>
                Servings: 8
            </p>
        </div>
    </div>
</main>
