<script src='public/js/newsfeed.js'></script>

<main class='is-fullhd fill page-height parallax vegetable-bg' id='menu'>
    <a href='/create' class='button' id='go-create-post'>+ Create your own post</a>

    <div class='card'>
        <a class='card-image' href='../frontend/food/chicken_adobo.html'>
            <figure class='image is-2by1'>
                <img src='public/img/foodelicious_chicken_adobo1.jpg' alt='Placeholder image'>
            </figure>
        </a>
        <div class='card-content'>
            <div class='media'>
                <div class='media-left'>
                    <a href='../frontend/users/foodeliciousview.html' class='image is-48x48'>
                        <img class='is-rounded' src='public/img/foodelicious.jpg' alt='Placeholder image'>
                    </a>
                </div>
                <div class='media-content'>
                    <a href='../frontend/food/chicken_adobo.html' class='title is-4'>Lolah's Chicken Adobo</a>
                    <br>
                    <a href='../frontend/users/foodeliciousview.html' class='subtitle is-6'>foodelicious</a>
                </div>
            </div>

            <div class='content'>
                My Filipino Mom taught me how to make this traditional dish following the recipe her mother taught her. And though I've made a couple of changes, I guarantee they're Mom-approved. 'Lolah' is 'Grandma' in the Philippines, in case you were wondering. Serve over steamed rice.
                <br>
                <time datetime='2016-1-1'>11:09 PM - 1 Jan 2016</time>

                <div class='user-interactions'>
                    <i class='fas fa-thumbs-up upvote'></i>
                    <span class='display-count'>2</span>
                    <i class='fas fa-thumbs-down downvote'></i>
                </div>
            </div>
        </div>
    </div>
    <div class='card'>
        <a class='card-image' href='../frontend/food/tuna_noodle_casserole.html'>
            <figure class='image is-2by1'>
                <img src='public/img/tuna_noodle_casserole1.jpg' alt='Placeholder image'>
            </figure>
        </a>
        <div class='card-content'>
            <div class='media'>
                <div class='media-left'>
                    <a href='../frontend/users/foodeliciousview.html' class='image is-48x48'>
                        <img class='is-rounded' src='public/img/foodelicious.jpg' alt='Placeholder image'>
                    </a>
                </div>
                <div class='media-content'>
                    <a href='../frontend/food/tuna_noodle_casserole.html' class='title is-4'>Tuna Noodle Casserole</a>
                    <br>
                    <a href='../frontend/users/foodeliciousview.html' class='subtitle is-6'>foodelicious</a>
                </div>
            </div>

            <div class='content'>
                I consider this the king of comfort food casseroles. What I love about this recipe, other than that it is simple and easy, is that it doesn't require the traditional can of cream of mushroom soup--but it still has the same amount of creamy, decadent goodness that every casserole should. Serve this with a green salad on the side.
                <br>
                <time datetime='2016-1-1'>11:09 PM - 1 Jan 2016</time>

                <div class='user-interactions'>
                    <i class='fas fa-thumbs-up upvote'></i>
                    <span class='display-count'>2</span>
                    <i class='fas fa-thumbs-down downvote'></i>
                </div>
            </div>
        </div>
    </div>
    <div class='card'>
        <a class='card-image' href='../frontend/food/roasted_potatoes.html'>
            <figure class='image is-2by1'>
                <img src='public/img/roasted_potatoes1.jpg' alt='Placeholder image'>
            </figure>
        </a>
        <div class='card-content'>
            <div class='media'>
                <div class='media-left'>
                    <a href='../frontend/users/chefjohnview.html' class='image is-48x48'>
                        <img class='is-rounded' src='public/img/chefjohn.jpg' alt='Placeholder image'>
                    </a>
                </div>
                <div class='media-content'>
                    <a href='../frontend/food/roasted_potatoes.html' class='title is-4'>"Special" Roasted Potatoes</a>
                    <br>
                    <a href='../frontend/users/chefjohnview.html' class='subtitle is-6'>chefjohn</a>
                </div>
            </div>

            <div class='content'>
                The secret to these deliciously crusty potatoes is the pre-oven boiling in a salted and seasoned liquid. The potatoes not only absorb flavor and salt, but more importantly the surface of the potato cooks, which is what forms the great crunchy texture in the oven.
                <br>
                <time datetime='2016-1-1'>11:09 PM - 1 Jan 2016</time>

                <div class='user-interactions'>
                    <i class='fas fa-thumbs-up upvote'></i>
                    <span class='display-count'>2</span>
                    <i class='fas fa-thumbs-down downvote'></i>
                </div>
            </div>
        </div>
    </div>
    <div class='card'>
        <a class='card-image' href='../frontend/food/french_fries.html'>
            <figure class='image is-2by1'>
                <img src='public/img/french_fries1.jpg' alt='Placeholder image'>
            </figure>
        </a>
        <div class='card-content'>
            <div class='media'>
                <div class='media-left'>
                    <a href='../frontend/users/chefjohnview.html' class='image is-48x48'>
                        <img class='is-rounded' src='public/img/chefjohn.jpg' alt='Placeholder image'>
                    </a>
                </div>
                <div class='media-content'>
                    <a href='../frontend/food/french_fries.html' class='title is-4'>Air Fryer French Fries</a>
                    <br>
                    <a href='../frontend/users/chefjohnview.html' class='subtitle is-6'>chefjohn</a>
                </div>
            </div>

            <div class='content'>
                Since I missed the whole Instant Pot® train, I had to make at least one air fryer recipe while they're still hot. And it doesn't get more classic than French fries; the generally accepted technique is pretty, dare I say, airtight, at this point, but I do have one extra trick in store! Finally, dip them in honey mustard, spicy ketchup, garlic aioli, or all 3 mixed together, like I did.
                <br>
                <time datetime='2016-1-1'>11:09 PM - 1 Jan 2016</time>

                <div class='user-interactions'>
                    <i class='fas fa-thumbs-up upvote'></i>
                    <span class='display-count'>2</span>
                    <i class='fas fa-thumbs-down downvote'></i>
                </div>
            </div>
        </div>
    </div>
    <div class='card'>
        <a class='card-image' href='../frontend/food/asian_coleslaw.html'>
            <figure class='image is-2by1'>
                <img src='public/img/foodelicious_asian_coleslaw1.jpg' alt='Placeholder image'>
            </figure>
        </a>
        <div class='card-content'>
            <div class='media'>
                <div class='media-left'>
                    <a href='../frontend/users/foodeliciousview.html' class='image is-48x48'>
                        <img class='is-rounded' src='public/img/foodelicious.jpg' alt='Placeholder image'>
                    </a>
                </div>
                <div class='media-content'>
                    <a href='../frontend/food/asian_coleslaw.html' class='title is-4'>Asian Coleslaw</a>
                    <br>
                    <a href='../frontend/users/foodeliciousview.html' class='subtitle is-6'>foodelicious</a>
                </div>
            </div>

            <div class='content'>
                A great twist on cabbage salad. The peanut butter in the dressing is the secret.
                <br>
                <time datetime='2016-1-1'>11:09 PM - 1 Jan 2016</time>

                <div class='user-interactions'>
                    <i class='fas fa-thumbs-up upvote'></i>
                    <span class='display-count'>2</span>
                    <i class='fas fa-thumbs-down downvote'></i>
                </div>
            </div>
        </div>
    </div>
</main>
