<main class='is-fullhd fill page-height parallax vegetable-bg flex-col'>
    <div class='tabs is-centered is-boxed is-large profile-tab'>
        <ul>
            <li>
                <a href='chefjohn.html'>
                    <span class='icon is-small'><i class='fas fa-user' aria-hidden='true'></i></span>
                    <span>Profile</span>
                </a>
            </li>
            <li class='is-active'>
                <a>
                    <span class='icon is-small'><i class='fas fa-hamburger' aria-hidden='true'></i></span>
                    <span>My Recipes</span>
                </a>
            </li>
            <li>
                <a href='chefjohnlikes.html'>
                    <span class='icon is-small'><i class='fas fa-heart' aria-hidden='true'></i></span>
                    <span>Liked Recipes</span>
                </a>
            </li>
            <li>
                <a href='chefjohnfollowers.html'>
                    <span class='icon is-small'><i class='fas fa-users' aria-hidden='true'></i></span>
                    <span>Followers</span>
                </a>
            </li>
            <li>
                <a href='chefjohnfollowing.html'>
                    <span class='icon is-small'><i class='fas fa-user-plus' aria-hidden='true'></i></span>
                    <span>Following</span>
                </a>
            </li>
        </ul>
    </div>

    <div class='container content box profile-box menu-display'>
        <div class='tile is-ancestor'>
            <div class='tile is-vertical'>
                <!--                first row -->
                <div class='tile'>
                    <!--                        https://www.allrecipes.com/recipe/255019/special-roasted-potatoes/ -->
                    <div class='tile is-parent' style='background: url(public/img/roasted_potatoes1.jpg)'>
                        <a href='../food/roasted_potatoes.html'>
                            <div class='is-child box'>
                                <p class='title'>"Special" Roasted Potatoes</p>
                            </div>
                        </a>
                    </div>

                    <div class='tile is-parent' style='background: url(public/img/french_fries1.jpg)'>
                        <a href='../food/french_fries.html'>
                            <div class='is-child box'>
                                <p class='title'>Air Fryer French Fries</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <section class='section post-navigation'>
            <nav class='pagination is-centered is-small' role='navigation' aria-label='pagination'>
                <a class='pagination-previous' disabled='true'>＜</a>
                <a class='pagination-next' disabled='true'>＞</a>
                <ul class='pagination-list'>
                    <li><a class='pagination-link is-current' aria-label='Goto page 1'>1</a></li>
                </ul>
            </nav>
        </section>
    </div>
</main>
