<script src='/public/js/profile.js'></script>

<main class='is-fullhd fill page-height parallax vegetable-bg flex-col'>
    <div class='tabs is-centered is-boxed is-large profile-tab'>
        <ul>
            <li {{#if (isEqual template 'profile')}}class='is-active'{{/if}}>
                <a href='/user/{{user._id}}'>
                    <span class='icon is-small'><i class='fas fa-user' aria-hidden='true'></i></span>
                    <span>Profile</span>
                </a>
            </li>
            <li {{#if (isEqual route 'posts')}}class='is-active'{{/if}}>
                <a href='/user/{{user._id}}/posts'>
                    <span class='icon is-small'><i class='fas fa-hamburger' aria-hidden='true'></i></span>
                    <span>Recipes</span>
                </a>
            </li>
            <li {{#if (isEqual route 'likes')}}class='is-active'{{/if}}>
                <a href='/user/{{user._id}}/likes'>
                    <span class='icon is-small'><i class='fas fa-heart' aria-hidden='true'></i></span>
                    <span>Liked Recipes</span>
                </a>
            </li>

            {{#if (isEqual user._id session._id)}}
                <li {{#if (isEqual route 'followers')}}class='is-active'{{/if}}>
                    <a href='/followers'>
                        <span class='icon is-small'><i class='fas fa-users' aria-hidden='true'></i></span>
                        <span>Followers</span>
                    </a>
                </li>
                <li {{#if (isEqual route 'following')}}class='is-active'{{/if}}>
                    <a href='/following'>
                        <span class='icon is-small'><i class='fas fa-user-plus' aria-hidden='true'></i></span>
                        <span>Following</span>
                    </a>
                </li>
            {{/if}}
        </ul>
    </div>

    {{> (lookup . 'template') }}
</main>
