<main class='is-fullhd fill page-height parallax vegetable-bg flex-col'>

    <div class='box white' id='search-box'>
        <h3 class='title'>Thousands of recipes within your reach...</h3>

        <form class='search-form' method='GET'>
            <p class='control has-icons-left big-search-bar'>
                <input class='input is-rounded is-large' type='text' placeholder='What are you looking for?' aria-label='search input' name='keyword'>
                <span class='icon is-left'><i class='fas fa-search'></i></span>
            </p>
        </form>
    </div>

</main>
