.profile-tab.tabs.is-boxed {
    margin-bottom: 0 ;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 1152px;
    width: 1100px;
    display: flex;
    height: 70px;
}

.profile-tab.tabs.is-boxed li.is-active a {
    color: white;
    background-color: #ffb21c;

}

.tabs.is-boxed.profile-tab ul a {
    border-width: 0;
    border-bottom-width: 1px;
    height: 100%;
}

.tabs.is-boxed li {
    flex-grow: 1;
    height: 100%;
}

/* posts/tiles to display recipes */
.profile-box .no-content {
    align-self: center;
    color: gray;
}

.profile-box .tile {
    flex-wrap: wrap;
}

.profile-box .tile.is-parent {
    background-size: cover !important;
    background-position: center !important;
}

.profile-box.menu-display .tile.is-parent {
    padding: 0;
    border-radius: 20px;
    margin: 10px;
    min-height: 200px;
    flex: 0 0 48%;
}

.profile-box.menu-display .tile.is-parent a  {
    width: 100%;
    backdrop-filter: brightness(60%);
    background-color: transparent;
    border-radius: 20px;
}

.profile-box.menu-display .tile.is-parent .box  {
    width: 100%;
    height: 100%;
    background-color: transparent;
    /*border-radius: 20px;*/
}

.profile-box.menu-display .tile.is-parent a .is-child.box p {
    color: white;
}

.profile-box.menu-display .tile.is-parent .title {
    position: absolute;
    bottom: 10px;
}

 /*posts/tiles to display people */
.container.people-display .container.tile-root {
    width: 100%;
}

.profile-box.people-display .tile.is-child.box {
    height: min-content;
}

.profile-box.people-display .tile.is-child.box:hover {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
    transform: scale(1.02);
}

.profile-box.people-display .tile.is-child * {
    display: inline-block;
    vertical-align: middle;
}

.profile-box.people-display .tile.is-child img {
    height: 60px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 20px;
}

/* search bar */
.profile-box .container.search-bar-container {
    max-height: 40px;
    margin-bottom: 30px;
    margin-right: 0;
}

/* pagination for posts */
.profile-box a.pagination-previous, .profile-box a.pagination-next {
    background-color: #ffb21c;
    font-weight: bold;
}

.profile-box .pagination-link.is-current {
    background-color: #ffb21c;
    border-color: #ffb21c;
}

.profile-box .section.post-navigation {
    padding: 0;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.profile-box .section.post-navigation ul {
    margin: 0;
}

/* others */
.profile-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1100px;
    min-height: 580px;
    padding: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#profile .field {
    margin-bottom: 0;
}

#profile .modal .field {
    margin-bottom: 0.75rem;
}

#profile .form-buttons {
    margin-top: 20px;
}

#profile .column {
    padding-bottom: 0;
}

#profile .columns {
    margin-bottom: 0;
}

#profile .file {
    margin-top: 20px;
}

#profile .icon-group {
    display: flex;
}

#profile .file + .icon-group {
    margin-top: 30px;
}

#profile .icon-group>div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile .icon-group p {
    font-size: 18px;
}

#profile .fa-user-plus {
    position: relative;
    left: 5px;
}

/* profile view */
fieldset[disabled] .input, fieldset[disabled] .textarea {
    cursor: default;
    background-color: white;
    border-color: white;
    color: black;
    font-size: 18px;
    resize: none;
}

fieldset[disabled].profile-view>.field {
    margin-top: 20px;
    margin-bottom: 20px;
}

fieldset[disabled] .columns {
    margin-bottom: 0;
}

#follow-button {
    display: block;
    cursor: pointer;
    border-color: #dbdbdb;
    color: #363636;
    opacity: 1;
    margin: 30px 20px 10px;
}

#follow-button:hover {
    border-color: #b5b5b5;
    color: #363636;
}

#follow-button:active {
    border-color: #4a4a4a;
    color: #363636;
}

#change-password-button {
    width: 100%;
    margin-bottom: 25px;
}

#profile .modal-card-title {
    margin-bottom: 0;
}

#profile .form-buttons .control:first-child {
    flex: auto;
}

#field-columns .column:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
}

#profession {
    margin-bottom: 22px;
}

#sensitive-fields {
    display: flex;

}

#name {
    padding-right: 0.5em;
}
